@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --accent: 222 81% 55%;
  color-scheme: light dark;
}

* { box-sizing: border-box; }
.scrollbar-thin::-webkit-scrollbar{height:8px;width:8px}
.scrollbar-thin::-webkit-scrollbar-thumb{background:#0003;border-radius:8px}
